.container {
    position: absolute;
    width: 400px;
    height: 440px;
    background-color:#fff;
    border: 2px solid rgba(255,255,255, .5);
    border-radius:20px;
    box-shadow:0 0 30px rgba(0, 0, 0, .5);
    justify-content: center;
    align-items:center;
    overflow:hidden;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) scale(1);
    display: flex;
    overflow:hidden;
    transition: transform .5s ease, height .2s ease;
  }
  
  .details {
    width: 28rem;
  }
  
  .details form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .register {
    display: flex;
    justify-content: center;
    align-items: center;
  }