footer {
    height: 14rem;
    background-color: #FFDE59;
}

.footer-about {
    size: 2.5vh;
}

.col {

    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
}

.footer-about img {

    width: 15rem;
    height:15rem;
    margin-left: 6vw;
    margin-top: 0%;
}

.name {

    margin-left: 6vw;
    color: black;
    margin-top: 2vh;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3vw;
    transition: 0.3s;
}


.pageLink ul {

    margin-top: 8vw;
    list-style: none;
    text-decoration: none;

}

.pageLink li {

    display: inline;
    margin-left: 3vw;
    font-size: 2.3rem;
}

.pageLink a {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-decoration: none;
    transition: 0.3s;
    font-weight: 1000;
}

.pageLink a:hover {
    font-size: 2.5vw;
    font-family: 'Times New Roman', Times, serif;
    color: red;
    text-decoration: none;
}

.footer-social h3 {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 2.5vw;
    margin-top: 6vw;
    margin-left: 2vw;
}

.footer-social span {
    font-style: normal;
    font-size: 2.2vw;
}

.footer-social--icons {
    margin-top: 2vh;
}

.footer-social--icons div {
    display: inline;
    margin-left: 2.5vw;
}

.footer-social--icons div a {
    font-size: 2.5vw;
    transition: 0.3s;
    color: black;
}

.footer-social--icons div a:hover {
    font-size: 3vw;
    color: red;
}

.footer-bottom--section {

    text-align: center;
    /* background-image: url(./public/food/Feast.png); */
    background-size: cover;

    background-repeat: no-repeat;
    height: 5vh;

}

.footer-bottom--section p {
    color: #011D32;
}

.footer-bottom--section span {
    color: #011D32;
    font-size: 1.3vw;
}
/* ._footer{
    height: 21%;
    background-color: rgba(0, 0, 0, 0.744);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: white;
    
}

.getintouch{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-left: 2vw;

}

.contact_details{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.contact_details p{
    margin-top:-1%;
}

.logo{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.our_logo_footer {
    width: 7vw;
    aspect-ratio: 1;
    border-radius: 100%;
    box-shadow: 0.5rem, 0.5rem, black;
}

a{
    text-decoration: none;
    color: white;
    margin-bottom: 1%;
}

a:hover{
    color: wheat;
}

h3{
    color: rgb(244, 186, 64);
} */